.container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 20px;
    row-gap: 20px;
}
input{
    width: 800px;
    background-color: aqua;
    opacity: .2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px
}
.t1{
    visibility: hidden  ;
}
input:hover{
    background-color: blueviolet;
}
@media(max-width:720px){
    .container{
        grid-template-columns: auto;
    }
}